

.side-bar-body{
    user-select: none;
    padding: 10px 10px 10px 40px;
    color:rgb(13, 67, 137);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 300px;
}

.side-bar-body div{
    width: 300px;
}
