

.side-bar-body{
    user-select: none;
    padding: 10px 10px 10px 40px;
    color:rgb(13, 67, 137);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 400px;
    /* border: 1px solid rgb(10, 42, 68); */
}

.side-bar-body div{
    /* color:rgb(13, 67, 137); */
    width: 300px;
}
