/* body {
    margin: 0;
    display: flex;
    place-items: center;
    /* min-width: 320px; */
    /* min-height: 100vh; */
/* } */

.logo {
    max-width: 35%;
    height: auto;
    align-self: flex-start;
}

.login {

    background-color: aqua;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.loginBox {
    margin-top: 0rem;
    max-width: 320px;
    height: 330px;
    background-color: rgb(123, 152, 221);
    justify-content: flex-end;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 20px;
}

.inputs {
    padding: 20px;
    /* display: flex;
    flex-direction: column; */
}

.name, .password {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border-width: 1px;
    margin-bottom: 20px;
}

.forgotpassword {
    display: flex;
    color: blue;
    padding: 5px;
    justify-content: flex-end;
    margin-top: -20px;
}

.forgotpassword:hover {
    color: darkblue;
}

.submit {
    width: 100px;
    height: 40px;
    background-color: rgb(13, 146, 124);
    color: #fff;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: -10px;
}

.submit:hover {
    background-color: rgb(85, 170, 142);
}



.signup {
    color: blue;
}

.signup:hover {
    color: darkblue;
}
.error {
    color: red;
    margin: 10px 0;
    text-align: center;
}